body{
    background: linear-gradient(#012A60 100%, #012A60 25%, #012A60 75%, #012A60 100%);
    min-height: 100vh;
}
.container{
    color: white;
}
.row{
    margin-top: 1rem;
}
.content{
    height: 50vh;
}
img{
    height: 100%;
    width: 100%;
}
a,ul{
    text-decoration: none;
}
input,button{
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
p{
    font-size: 2rem;
}