body{
    background: linear-gradient(#012A60 100%, #012A60 25%, #012A60 75%, #012A60 100%);
}
.container{
    color: white;
}
.row{
    margin-top: 1rem;
}
.content{
    height: 50vh;
}
img{
    height: 100%;
    width: 100%;
}
a,ul{
    text-decoration: none;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
input{
    width: 100%;
}