*{
    /* outline: 1px red dotted; */
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.logo{
    max-height:50px;
}
.clogo{
    max-height:100px;
}
.introduction{
    height: 86vh;
    background: url(../imgs/Small-Business-Self-Storage.jpg);
}
#stonks{
    background: url(../imgs/stonks.jpg);
    background-size: cover;
}
.introduction .row ,.title,.content  {
    background: #3067A5;
    
}
.content h1,.introduction .row h1{
    font-size: 3rem;
    color: #FAD550;
    text-shadow: 2px 2px 2px #000000; 
}
.introduction .row h6{
    font-style: oblique;
    font-size: 2rem;
    color: #FFF;
    text-shadow: 2px 2px 2px #000000;
}
.container, footer{
    color: black;
}
.header,.content{
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.content{
    height: fit-content;
}
.logo{
    width: 100%;
    height: 100%;
    border-radius: 35px;
}
.content img,.content h1{
    /* height: 30vh; */
    width: 100%;
}
a, ul{
    text-decoration: none;
    font-weight:600;
    color: #144b8a;
}
input, button{
    width: 100%;
    /* border-radius: 25px; */
    padding: 8px;
    display: flex;
    justify-content: center;
}
input:focus {
    border: 2px solid  #4e83c0;
  }
.lessradius{
    border-radius: 10px;
}
.noradius{
    border-radius: 0px;
}
#addImg{
    height: 50%;
    width: 100%;
}
li{
    padding: 0 !important;
}
ul,li{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    /* color: #FFF; */
    text-decoration: none;
    text-align: center;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: rgb(207, 204, 204);
    position: absolute;
    z-index: 5;
    display: none;
    color: whitesmoke;
}
ul li a:hover{
    background: rgb(158, 155, 155);
    color: white;
    border-radius: 0px;
}
ul li:hover ul.dropdown{
    display: block;
}
#userpic{
    height: 40px;
    width:40px;
    border-radius: 50%;
    border: solid 2px #FAD550;
}
h3{
    color: black;
}
.hchead{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #272c37;
    font-size: 36px;
}
.save{
    background-color:#1cbe16;
    max-width: 150px;
}
.delete{
    background-color:#f00606 ;
    max-width: 150px;

}
.expiry{
    line-height: 54px;
}
.pic2, .pic1{
    min-height: 460px;
    max-height: 460px;
}
.hborder{
    border: 1px blue solid;
}
.borpacity{
    border:gray solid 1px
}
.feature{
    height: 363px;
}
.description{
    margin: -24px 10px 0px;
    padding: 24px 10px 0px;
    background-color: #FFF;
    position: relative;
    border-radius: 6px;
}
.description h4{
    color: #272c37;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.description p{
    color: #51565E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 0px 0px 0px 26px;
    font-weight: 500;
}
.dheight{
    height: 120px;
    overflow: auto;
}
.lg h4{
    color: #272c37;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imgdescription{
    border-radius: 6px;
    height: 30vh;
}
footer{
    font-size: 12px;
}
.indexfbg{
    background-color: #0b0b0b;
}
.fc{
    background-color: #1a1a1a;
}
.fctitle{
    font-size: 16px;
    font-weight: 400;
}
.icon{
    height: 30px;
    width: 30px;
}
.fdescript{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 400;
}
.fdescript a:hover{
    color: rgba(255, 255, 255, 0.5);
}
.background{
    background: rgb(1,42,96); 
    background: -moz-linear-gradient(0deg, rgba(1,42,96,1) 0%, rgba(48,103,165,1) 50%, rgba(116,157,237,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(1,42,96,1) 0%, rgba(48,103,165,1) 50%, rgba(116,157,237,1) 100%);
    background: linear-gradient(0deg, rgba(1,42,96,1) 0%, rgba(48,103,165,1) 50%, rgba(116,157,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#012a60",endColorstr="#749ded",GradientType=1);
}
.otherbg{
    background-image: url(../imgs/bgs.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.clipath{
    border-top-left-radius: 100px;
    box-shadow: #fad550 15px 15px;
}
.yellowshadow{
    box-shadow: #fad550 15px 15px;
}
.title{
    color: #055203;
    text-shadow: 10px 1px 10px;
}
.subtitle{
    color: #055203;
    text-shadow: 1px 1px 1px;
}
.subtitlep{
    color: #055203;
    font-weight:700;
}
.loginbox{
    background: rgba(63, 111, 207, 0.651);
    border-radius: 30px;
}
.expiry{
    line-height: 54px;
}
.contbor{
    border-radius: 20px;
    border:solid 10px green;
    background-color: rgb(23, 100, 23);
}
.ingrap{
    border-bottom:  rgb(1,42,96) 10px solid;
    border-radius: 100px;
}
.mhp{
    background-color: #e6b816;
    border-top-left-radius: 20px;
}
.mhp1{
    background: #e6b816;
    border-top-right-radius: 20px;
}
.mhimg{
    background:#FAD550;
}





@media (min-width: 400px) and (max-width: 1400px) {
    .store{
        max-width: 300px;
        min-width: 240px;
    }
}
@media(max-width: 767.98px){
    .margin{
        margin-bottom: 3rem;
    }
    div.remove{
        display:none
    }
    .logimage{
        display: none;
    }
    .otherbg{
        background: #272f56;
    }
}
@media(min-width: 768px){
    .premove::placeholder{
        color: white;
    }
}